/*
 * Google Fonts
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/*
 * Basic styling
 */
body {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  @apply transition-colors;
}

a:hover,
a:focus {
  @apply outline-none text-purple-500;
}

hr {
  @apply border-purple-500 border-b-2 my-2;
}

[aria-hidden='true'] {
  @apply hidden;
}

.cover[data-nimg="fill"] {
  height: initial !important;
  min-height: initial !important;
  position: relative !important;
}

/*
 * Layout
 */
#app {
  @apply w-full h-screen overflow-x-hidden flex flex-col;
  @apply bg-gray-800 text-gray-100;
}

#app>header {
  @apply flex items-center px-6 h-16 flex-shrink-0;
  @apply bg-gray-900;
}

#app>footer {
  @apply flex items-center px-6 h-16 flex-shrink-0;
  @apply bg-white bg-opacity-5;
}

#app>main {
  @apply flex-grow;
}

/*
 * Forms
 */
input,
select {
  @apply bg-gray-700 h-12 px-4 border-b-2 border-b-transparent;
  @apply transition-colors;
}

input:focus,
select:focus {
  @apply outline-none border-b-purple-500;
}

form {
  @apply grid gap-4;
}

form .field {
  @apply flex flex-col gap-1;
}

.basic-form {
  @apply flex items-center w-full;
}

.basic-form input {
  @apply flex items-center flex-grow;
}

/*
 * Home page
 */
#home-page .basic-form {
  width: 100%;
  max-width: 400px;
}

#home-page .logo {
  font-size: 2.5em;
}

/*
 * Search page
 */
#search-page .results .game-result {
  min-height: 10.5em;
}

#search-page .results .game-result:nth-of-type(2n) {
  @apply bg-gray-700;
}

@screen sm {
  #search-page .results .game-result:nth-of-type(2n) {
    @apply bg-transparent;
  }

  #search-page .results .game-result:nth-of-type(4n),
  #search-page .results .game-result:nth-of-type(4n-1) {
    @apply bg-gray-700;
  }
}

/*
 * Game page
 */

#game-page .metadata {
  min-width: 30%;
  flex-shrink: 0;
}

#game-page .metadata .genres li:not(:last-child)::after {
  content: ', ';
}

@media (min-width: 768px) {
  #game-page .media {
    max-width: 8em;
  }
}

/*
 * GameplayTable component
 */
.gameplay-table {
  @apply table-fixed w-full border-separate;
  border-spacing: 0.3em;
}

.gameplay-table caption {
  @apply text-left text-xl border-b-2 border-purple-500 py-1 mb-2;
}

.gameplay-table svg {
  @apply inline-block;
}

.gameplay-table thead th {
  @apply text-center;
}

.gameplay-table thead th[data-column='Polled'] {
  @apply w-20;
}

.gameplay-table[data-type='single-player'] thead tr th:first-child,
.gameplay-table[data-type='multi-player'] thead tr th:first-child,
.gameplay-table[data-type='speed-run'] thead tr th:first-child {
  @apply w-10;
}

.gameplay-table .label-hint {
  @apply absolute flex items-center justify-center left-0 top-0 h-full;
  @apply min-w-full rounded bg-gray-100 text-gray-800 cursor-pointer opacity-0 px-4;
  @apply z-10 transition-opacity;
}

.gameplay-table .label-hint:hover,
.gameplay-table .label-hint:focus {
  @apply opacity-100 outline-none;
}

.gameplay-table thead th .no-icon {
  @apply text-sm;
}

.gameplay-table tbody tr td:not(:first-child) {
  @apply bg-gray-700 rounded text-center transition-colors;
}

.gameplay-table tbody tr:hover td:not(:first-child) {
  @apply bg-purple-500;
}

.gameplay-table tr>td>*:not(.label-hint) {
  @apply overflow-ellipsis overflow-hidden block;
}

.gameplay-table tbody tr td:first-child .label-hint {
  @apply justify-start;
}

.gameplay-table tr>* {
  @apply whitespace-nowrap relative hidden h-8;
}

.gameplay-table tr> :nth-child(1),
.gameplay-table tr> :nth-child(2),
.gameplay-table tr> :nth-child(3) {
  @apply table-cell;
}

@screen sm {
  .gameplay-table tr> :nth-child(4) {
    @apply table-cell;
  }
}

@screen md {
  .gameplay-table tr> :nth-child(5) {
    display: table-cell;
  }
}

@screen lg {

  .gameplay-table tr> :nth-child(6),
  .gameplay-table tr> :nth-child(7) {
    display: table-cell;
  }
}

/*
 * Spinner component
 */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*
 * ProgressBar component
 */
.progress-bar {
  @apply w-full h-4 rounded overflow-hidden relative flex items-center px-2;
}

.progress-bar .fill-bar {
  @apply absolute left-0 bottom-0 top-0 rounded flex items-center px-2;
  @apply transition-colors;
  border-radius: 0.3em;
  background-color: currentColor;
  animation: fill-bar 1s ease forwards;
}

.progress-bar .help-text {
  @apply hidden absolute left-0 bottom-0 top-0 rounded;
  @apply bg-gray-100 text-gray-900 w-full flex items-center px-2;
  @apply cursor-pointer z-20 transition-opacity;
  min-width: fit-content;
}

.progress-bar.has-help .help-text {
  @apply block opacity-0;
}

.progress-bar.has-help .help-text:focus,
.progress-bar.has-help .help-text:hover {
  @apply opacity-100 outline-none;
}

.progress-bar .label {
  @apply z-10 transition-opacity;
}

@keyframes fill-bar {
  from {
    width: 0%;
    opacity: 0;
  }

  to {
    width: 100%;
    opacity: 1;
  }
}

/*
 * GameResult component
 */
.game-result {
  @apply flex gap-4 p-4;
}

.game-result .media {
  @apply flex-shrink-0;
}

.game-result .metadata {
  @apply table table-fixed w-full;
}

.game-result .metadata h3 {
  @apply whitespace-nowrap overflow-hidden overflow-ellipsis mb-2;
}

.game-result .metadata ul {
  @apply flex flex-col gap-1;
}

.game-result .metadata ul li {
  @apply flex gap-2;
}

.game-result .metadata ul li svg {
  @apply flex-grow-0 flex-shrink-0;
}

.game-result .metadata ul li .progress-bar {
  @apply h-6;
}

.game-result .metadata ul li:nth-of-type(1) .progress-bar .fill-bar {
  @apply bg-purple-500;
}

.game-result .metadata ul li:nth-of-type(2) .progress-bar .fill-bar {
  @apply bg-gray-600;
}

.game-result .metadata ul li:nth-of-type(3) .progress-bar .fill-bar {
  @apply bg-gray-500;
}

.game-result .metadata ul li:nth-of-type(4) .progress-bar .fill-bar {
  @apply bg-gray-400;
}

/*
 * TinyForm component
 */
.tiny-form {
  @apply relative h-12 flex-grow;
  max-width: max(30%, 200px);
}

.tiny-form input {
  @apply w-full border-b-2 border-b-purple-500 bg-transparent;
  @apply p-2 pr-12;
  @apply origin-right transition-transform;
  transform: scaleX(1);
}

.tiny-form.collapsed input {
  transform: scaleX(0);
}

.tiny-form button {
  @apply cursor-pointer absolute bottom-0 right-0 top-0 w-12 h-12;
  @apply flex items-center justify-center border-0 rounded-full bg-transparent;
}

.tiny-form button:active,
.tiny-form button:focus {
  @apply outline-none;
}

/*
 * GameplayChart component
 */
.gameplay-chart {}